{% extends "base_task_info.html" %}
{% load static %}

{% block title %}Ваша заметка{% endblock %}
{% block header_title %}Ваша заметка{% endblock %}

{% block form_info %}
  action="{% url 'tasks:task' task.id %}" method="post"
{% endblock %}

{% block form_footer %}
  <div class="d-flex justify-content-between mt-3">
    <div>
      <input type="submit" name="cancel" class="btn btn-outline-dark btn-lg" value="К списку задач">
      <input type="submit" name="save" class="btn btn-outline-dark btn-lg" value="Сохранить изменения">
      <input type="submit" name="complete" class="btn btn-outline-dark btn-lg" value="Выполнить задачу">
    </div>
    <div>
      <button type="button" name="delete" class="btn btn-outline-dark btn-lg"
              data-bs-toggle="modal" data-bs-target="#confirmModal">
        <img src="{% static 'img/trash.png' %}" width="25" height="25" title="Удалить заметку">
      </button>
    </div>
  </div>
{% endblock %}

{% block extra_content %}
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Вы уверены что хотите удалить данную заметку?</h3>
            </div>
            <div class="modal-footer">
                <form action="{% url 'tasks:confirm_delete' task.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" name="confirm-delete" class="btn btn-dark btn-lg">Удалить</button>
                </form>
                <button type="button" name="cancel" class="btn btn-outline-dark btn-lg" data-bs-dismiss="modal">
                  Отмена
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}