{% extends "base.html" %}
{% load static %}

{% block title %}
  Список задач
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <h1><strong>Список задач пользователя</strong></h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <form method="get" action="{% url 'tasks:task_list' %}" class="d-flex gap-2">
            <input type="text"
               class="form-control"
               name="tag"
               placeholder="Введите тег для фильтрации"
               value="{{ tag }}"
               aria-label="Поиск по тегу">
            <button type="submit" class="btn btn-dark">Поиск</button>
          </form>
        </div>
      </div>
    </div><br>
    <main>
      <div class="list-group list-group-flush fs-4">
        {% for task in page_obj %}
          <a href="{% url 'tasks:task' task.id %}" class="list-group-item list-group-item-action">
            <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
            {{ task }}
          </a>
          <p style="color: grey;">
            {% for tag in task.tags.all %}
              {{ tag }}
              {% if not forloop.last %}
                <span> | </span>
              {% endif %}
            {% endfor %}
          </p>
        {% endfor %}
          <a href="{% url 'tasks:add_task' %}" class="list-group-item list-group-item-action">
            <img src="{% static 'img/plus.png' %}" width="25" height="25">
            Добавить новую заметку
          </a><br>
      </div>
    </main>
  </div>

  {% include "includes/paginator.html" %}
{% endblock %}