{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <form action="{% url 'tasks:task_list' %}" method="get">
    <div class="card">
      <div class="card-header">
        <h1>{{ title }}</h1>
      </div>
      <div class="card-body">
        {% bootstrap_form form %}
      </div>
      <div class="card-footer">
        <input type="submit" class="btn btn-outline-dark btn-lg" value="Сохранить">
        {% if title == "Ваша заметка" %}
          <input type="submit" class="btn btn-outline-dark btn-lg" value="Выполнить задачу">
        {% endif %}
        <input type="submit" class="btn btn-outline-dark btn-lg" value="Отмена">
        {% if title == "Ваша заметка" %}
          <button type="submit" class="btn btn-outline-dark btn-lg">
            <img src="{% static 'img/trash.png' %}" width="25" height="25" title="Удалить заметку">
          </button>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}