{% extends "base.html" %}
{% load static %}

{% block title %}
  Список задач
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <h1><strong>Список задач пользователя</strong></h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <form method="get" action="{% url 'tasks:task_list' %}" class="d-flex gap-2">
            <input type="text"
               class="form-control"
               name="tag"
               placeholder="Введите тег для фильтрации"
               value="{{ tag }}"
               aria-label="Поиск по тегу">
            <button type="submit" class="btn btn-dark">Поиск</button>
          </form>
        </div>
      </div>
    </div><br>
    <main>
      <div class="list-group list-group-flush fs-4">
        {% for task in page_obj %}
          <a href="{% url 'tasks:task' task.id %}" class="list-group-item list-group-item-action">
            {{ task }}
          </a>
          <p style="color: grey;">
            {% for tag in task.tags.all %}
              {{ tag }}
              {% if not forloop.last %}
                <span> | </span>
              {% endif %}
            {% endfor %}
          </p>
        {% endfor %}
          <a href="{% url 'tasks:add_task' %}" class="list-group-item list-group-item-action">
            <img src="{% static 'img/plus.png' %}" width="25" height="25">
            Добавить новую заметку
          </a><br>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Выполненные задачи пользователя
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="list-group list-group-flush fs-4">
                {% for task in completed_tasks %}
                  <a href="{% url 'tasks:task' task.id %}" class="list-group-item list-group-item-action">
                    {{ task }}
                  </a>
                  <p style="color: grey;">
                    {% for tag in task.tags.all %}
                      {{ tag }}
                      {% if not forloop.last %}
                        <span> | </span>
                      {% endif %}
                    {% endfor %}
                  </p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>

  {% include "includes/paginator.html" %}
{% endblock %}