{% load static %}
<header style="border-bottom: 2px solid #000000;">
  <nav style="background-color: #dfe0e0;">
    <div class="container-fluid">
      <div class="row align-items-center">

        <div class="col-1">
          <a href="{% url 'homepage:index' %}" class="btn btn-outline-dark btn-lg">Главная</a>
        </div>

        <div class="col-10">
          <a href="{% url 'tasks:task_list' %}" class="btn btn-outline-dark btn-lg">Мои задачи</a>
        </div>

        {% if user.is_authenticated %}
          <div class="col-1">
            <a href="{% url 'user_profile:profile' %}" class="btn btn_light">
              <img src="{% static 'img/user.png' %}" width="50" height="50" title="Профиль">
            </a>
          </div>

        {% else %}
          <div class="col-1">
            <a href="{% url 'login' %}" class="btn btn_light">
              <img src="{% static 'img/user.png' %}" width="50" height="50" title="Войти в профиль">
            </a>
          </div>

          {% endif %}
      </div>
    </div>
  </nav>
</header>