{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <form {% block form_info %} {% endblock %}>
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
        <h1>{% block header_title %}{% endblock %}</h1>
      </div>
      <div class="card-body">
        {% bootstrap_form form %}
      </div>
      <div class="card-footer">
        {% block form_footer %} {% endblock %}
      </div>
    </div>
  </form>
  {% block extra_content %}{% endblock %}
{% endblock %}