{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 75vh;">
    <div class="card col-4 m-3">
      <div class="card-header">
        Смена пароля
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" class="btn btn-dark" content="Сменить пароль">
        </form>
      </div>
    </div>
  </div>
{% endblock %}